.main-scene{
  width: 100vw;
  height: 100vh;
}

.gestL{
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: aliceblue;
  color: blue;
}
.gestR{
  position: fixed;
  top: 0;
  left: 100px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: aliceblue;
  color: blue;
}

.command-visualizer{
    height: 200px;
    z-index: 1;
}

.flip{
  transform: scaleX(-1);
}

.command-visualizer img{
  width: 200px;
}

.cam{
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
}
