.full-size{
  width: 100%;
  height: 100%;
}

.main-scene{
  width: 100%;
  height: 100%;
}

#root {
  min-height: 700px;
  min-width: 1000px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gest{
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: aliceblue;
  color: blue;
}

.command-visualizer{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100px;
    height: 100px;
   
}

.command-visualizer img{
  width: 100%;;
}
