.main-scene{
  width: 100vw;
  height: 100vh;
}

.gestL{
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: aliceblue;
  color: blue;
}
.gestR{
  position: fixed;
  top: 0;
  left: 100px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: aliceblue;
  color: blue;
}

.command-visualizer{
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: 100px;
    z-index: 1;
}

.command-visualizer img{
  width: 50%;
}

.cam{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
